<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW1 Bryant</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-flex">
        <navbar id="navbar">
            <div class="logo-title">
                <div class="img-wrap navbar">
                    <img src="../images/programmer.png" alt="Programmer Logo">
                </div> 
                <h1>Bryant's HW1</h1>
            </div>
            <div class="links">
                <ul class="links">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#">About Me</a></li>
                    <li><a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">Other</a></li>
                </ul>
            </div>
        </navbar>
       <div class="main-content">
        <div class="about-summary">
            <h1>About Me</h1>
            <p>
                Welcome to the about me section of the website. I'll include a short summary about me.
                My name is Bryant Mejia, I am senior at University of Maryland - Baltimore County majoring Computer Science.
                I was born in Honduras, moved to the U.S when I was three and I've been living in Maryland ever
                since. I got my associates in Computer Science from PGCC and I then transferred to UMBC in 2020.
                Career wise, I think being a webdev might be interesting, which is Why I've been trying to learn
                on my own. I wanted to practice my CSS, so that's why I did this website without using any framework.
                Not sure what else to add so, below section shares some of my interests.   
            </p>
        </div>

        <div class="squares-layout">
            <h2 class="title">Interests</h2>
            <div class="content">
                <div class="picture-info">
                    <div class="img-wrap">
                        <img src="../images/movies.jpg">
                    </div>
                    <p class="caption">While I wouldn't consider myself a cinephile, one of my favorite things to do is watch movies. 
                        I'll watch just about any genre and language of movies, as long as it's good.
                    </p>
                </div>
                <div class="picture-info">
                    <div class="img-wrap">
                        <img src="../images/real-madrid.jpg">
                    </div>
                    <p class="caption">Im a huge football(soccer) fan. I usually spend some my free time watching matches.
                        My team is Real Madrid.
                    </p>
                </div>
                <div class="picture-info">
                    <div class="img-wrap">
                        <img src="../images/computer-science.jpg">
                    </div>
                    <p class="caption">Being a computer science major, I have a slight interest 
                        in computer science. I like how it offers the opportunity to work in many fields, it
                        allows me to be creative, and the salaries are pretty good too.
                    </p>
                </div>
                <div class="picture-info">
                    <div class="img-wrap">
                        <img src="../images/anime.jpg">
                    </div>
                    <p class="caption">I usually don't mention that I am an anime fan.
                        Mostly due to the cringe nature of the anime community, but I do enjoy watching it, 
                        I've lost track of how many I've seen.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" id="footer">Copyright @ Bryant 2023</div>
</body>
</html>